<div class="detail-container" *ngIf="item">
    <div class="section-wrapper modern-theme-bg">
        <div class="detail-header">
            <h2><mat-icon>view_module</mat-icon> {{ item.text || 'New Chunk' }}</h2>
            <button class="edit-btn" (click)="onEdit()" *ngIf="!editMode">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="edit-btn" (click)="onCancelEdit()" *ngIf="editMode">
                <mat-icon>close</mat-icon> Cancel
            </button>
        </div>
        <form *ngIf="editMode; else viewMode" class="detail-form">
            <div class="form-row">
                <label>Chunk ID:</label>
                <input type="text" [(ngModel)]="item.chunkId" name="chunkId" />
            </div>
            <div class="form-row">
                <label>Text:</label>
                <input type="text" [(ngModel)]="item.text" name="text" />
            </div>
            <div class="form-row">
                <label>Type:</label>
                <input type="text" [(ngModel)]="item.type" name="type" />
            </div>
            <div class="form-row">
                <label>Source:</label>
                <input type="text" [(ngModel)]="item.chunkSource" name="chunkSource" />
            </div>
            <div class="form-row">
                <label>Source ID:</label>
                <input type="text" [(ngModel)]="item.chunkSourceId" name="chunkSourceId" />
            </div>
            <div class="form-row">
                <label>Correlation UID:</label>
                <input type="text" [(ngModel)]="item.correlationUId" name="correlationUId" />
            </div>
            <div class="form-actions">
                <button type="submit" class="save-btn" (click)="onSave()">Save</button>
            </div>
        </form>
        <ng-template #viewMode>
            <div class="detail-view">
                <div class="form-row"><label>Chunk ID:</label> {{ item.chunkId }}</div>
                <div class="form-row"><label>Text:</label> {{ item.text }}</div>
                <div class="form-row"><label>Type:</label> {{ item.type }}</div>
                <div class="form-row"><label>Source:</label> {{ item.chunkSource }}</div>
                <div class="form-row"><label>Source ID:</label> {{ item.chunkSourceId }}</div>
                <div class="form-row"><label>Correlation UID:</label> {{ item.correlationUId }}</div>
            </div>
        </ng-template>
    </div>
</div>
