<div class="detail-container" *ngIf="item">
    <div class="section-wrapper modern-theme-bg">
        <div class="detail-header">
            <h2><mat-icon>view_list</mat-icon> {{ item.name || 'New Model' }}</h2>
            <button class="edit-btn" (click)="onEdit()" *ngIf="!editMode">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="edit-btn" (click)="onCancelEdit()" *ngIf="editMode">
                <mat-icon>close</mat-icon> Cancel
            </button>
        </div>
        <form *ngIf="editMode; else viewMode" class="detail-form">
            <div class="form-row">
                <label>Model UID:</label>
                <input type="text" [(ngModel)]="item.modelUId" name="modelUId" />
            </div>
            <div class="form-row">
                <label>Name:</label>
                <input type="text" [(ngModel)]="item.name" name="name" />
            </div>
            <div class="form-row">
                <label>Description:</label>
                <textarea [(ngModel)]="item.description" name="description"></textarea>
            </div>
            <div class="form-row">
                <label>Type:</label>
                <input type="text" [(ngModel)]="item.type" name="type" />
            </div>
            <div class="form-row">
                <label>Version:</label>
                <input type="text" [(ngModel)]="item.version" name="version" />
            </div>
            <div class="form-row">
                <label>Provider:</label>
                <input type="text" [(ngModel)]="item.provider" name="provider" />
            </div>
            <div class="form-row">
                <label>Endpoint:</label>
                <input type="text" [(ngModel)]="item.endpoint" name="endpoint" />
            </div>
            <div class="form-row">
                <label>API Key:</label>
                <input type="text" [(ngModel)]="item.apiKey" name="apiKey" />
            </div>
            <div class="form-row">
                <label>Region:</label>
                <input type="text" [(ngModel)]="item.region" name="region" />
            </div>
            <div class="form-row">
                <label>Enabled:</label>
                <select [(ngModel)]="item.isEnabled" name="isEnabled">
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
            </div>
            <div class="form-actions">
                <button type="submit" class="save-btn" (click)="onSave()">Save</button>
            </div>
        </form>
        <ng-template #viewMode>
            <div class="detail-view">
                <div class="form-row"><label>Model UID:</label> {{ item.modelUId }}</div>
                <div class="form-row"><label>Name:</label> {{ item.name }}</div>
                <div class="form-row"><label>Description:</label> {{ item.description }}</div>
                <div class="form-row"><label>Type:</label> {{ item.type }}</div>
                <div class="form-row"><label>Version:</label> {{ item.version }}</div>
                <div class="form-row"><label>Provider:</label> {{ item.provider }}</div>
                <div class="form-row"><label>Endpoint:</label> {{ item.endpoint }}</div>
                <div class="form-row"><label>API Key:</label> {{ item.apiKey }}</div>
                <div class="form-row"><label>Region:</label> {{ item.region }}</div>
                <div class="form-row"><label>Enabled:</label> {{ item.isEnabled ? 'Yes' : 'No' }}</div>
            </div>
        </ng-template>
    </div>
</div>
