<div class="list-container">
    <div class="section-wrapper modern-theme-bg">
        <div class="list-header">
            <h2><mat-icon>collections_bookmark</mat-icon> Data Source Collections</h2>
            <button class="add-btn" (click)="onAdd()">
                <mat-icon>add_circle</mat-icon> Add Collection
            </button>
        </div>
        <div class="toolbar modern-toolbar">
            <div class="search-filter-group">
                <div class="search-box">
                    <span class="material-icons">search</span>
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name...">
                </div>
                <button class="filter-btn" (click)="onSearch()">
                    <span class="material-icons">filter_list</span> Filter
                </button>
            </div>
        </div>
        <ng-container *ngIf="filteredItems.length > 0; else noCollections">
            <div class="card-grid">
                @for (col of filteredItems; track col) {
                <div class="card" (click)="onSelect(col)">
                    <div class="card-header">
                        <span class="card-name">{{ col.name }}</span>
                    </div>
                    <div class="card-body">
                        <div class="info-row"><mat-icon>fingerprint</mat-icon> <span class="label">Collection UID:</span> <span class="uid">{{ col.dataSourceCollectionUId }}</span></div>
                        <div class="info-row"><mat-icon>info</mat-icon> <span class="label">Description:</span> <span class="desc" [title]="col.description">{{ col.description }}</span></div>
                        <div class="info-row"><mat-icon>date_range</mat-icon> <span class="label">Created:</span> {{ col.createdDate | date:'mediumDate' }}</div>
                        <div class="info-row"><mat-icon>update</mat-icon> <span class="label">Last Modified:</span> {{ col.lastModifiedDate | date:'mediumDate' }}</div>
                        <div class="info-row"><mat-icon>collections</mat-icon> <span class="label">Data Sources:</span> {{ col.dataSources.length }}</div>
                        <div class="info-row"><mat-icon>build</mat-icon> <span class="label">Custom:</span> {{ col.isCustom ? 'Yes' : 'No' }}</div>
                    </div>
                </div>
                }
            </div>
        </ng-container>
        <ng-template #noCollections>
            <div class="empty-message">No collections found.</div>
        </ng-template>
    </div>
</div>
