<form [formGroup]="form" class="detail-form">
    <mat-form-field appearance="fill">
        <mat-label>Host</mat-label>
        <input matInput formControlName="host">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Port</mat-label>
        <input matInput type="number" formControlName="port">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Database Name</mat-label>
        <input matInput formControlName="databaseName">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Schema</mat-label>
        <input matInput formControlName="schema">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Table List (comma separated)</mat-label>
        <input matInput formControlName="tableList">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Query Template</mat-label>
        <textarea matInput formControlName="queryTemplate"></textarea>
    </mat-form-field>
    <div class="form-actions" *ngIf="mode !== 'view'">
        <button mat-raised-button color="primary" type="button" (click)="onSave()">Save</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>
